{
    admin off
}

:80 {
    log {
        output stdout
        format json
    }

    # API -> FastAPI
    handle /api/* {
        reverse_proxy web:8000
    }

    # pgAdmin
    handle_path /pgadmin* {
        reverse_proxy pgadmin:80 {
            header_up X-Forwarded-Prefix /pgadmin
        }
    }

    # Frontend (everything else) -> Vite
    handle {
        reverse_proxy frontend:5173
    }
}
