services:
    web:
        build: ./backend
        command: uvicorn app.main:app --host 0.0.0.0 --reload
        ports:
            - "8000:8000"
        env_file:
            - .env
        depends_on:
            - db
        volumes:
            - ./backend/app:/code/app
    db:
        image: postgres:15-alpine
        volumes:
            - postgres_data:/var/lib/postgresql/data
        env_file:
            - .env
        ports:
            - "5432:5432"
    pgadmin:
        image: dpage/pgadmin4:snapshot
        env_file:
            - .env
        ports:
            - "5050:5050"
        depends_on:
            - db
    frontend:
        build: ./frontend
        ports:
            - "5173:5173"
        volumes:
            - ./frontend:/app
            - /app/node_modules
        depends_on:
            - web
    tunnel:
        image: cloudflare/cloudflared:latest
        container_name: my-tunnel
        restart: unless-stopped
        command: tunnel run
        env_file:
            - .env
        depends_on:
            - web
            - pgadmin

volumes:
    postgres_data:
